<div >
  <div class="container" style="width:100vw;height:100vh">
    <div class="col-md-offset-1 images_holder" style="padding-top:40vh;width:100%">
      <div class="col-md-4 col-xs-12">
        <a href="#" onclick="$('#loginModal').modal('show');"><%=image_tag "man.png", style: "width:45%", id: "producer_image" %></a><br/><br/>
      </div>
      <div class="col-md-4 col-xs-12 col-md-offset-4">
        <br/><a href="#" onclick="consumerToggle();toggleFullScreen();$('#services_modal').modal('show');"><%= image_tag "shop.png", style: "width:45%", id: "consumer_image" %></a><br/>
      </div>
    </div>
    
  </div>
</div>