<div id="cbox" style="background-color: rgba(29,29,29,0.8);padding-top:2vh; display:flex; height:100%;">
  <div id="error_message_content" align="center">
    <h3><%= params['text'] %></h3>
  </div>

<a href="#" onclick="javascript:$('#colorbox').remove()"><p style="color:grey;position:absolute;right:1vh;top:0.5vh">X</p></a>
</div>

